NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_TWEET_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_INDEXER_URL=http://localhost:3001
NEXT_PUBLIC_ER_SERVER_URL=http://localhost:3003
